.ListItems {
 padding: 0;
 list-style: none;
 display: flex;
 flex-direction: column;

  &__text {
    padding-left: .8rem;
    
    @media (max-width: 600px) {
      display: none;
      visibility: hidden;
    }
  }
}