.Toolbar {
  background-color: #1D232A;
  color: #fefefe;
  display: flex;
  justify-content: space-between;  
  box-shadow: inset 0px -8px 10px -4px #111;;
  // position: fixed;
  width: 100%;


  & > * {
    font-size: 2rem;
  } 
}