.BookList {
  background-color: #fafafa;
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  // padding: 1rem .5rem;
  overflow-y: scroll;

  &__nomatches {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: hidden;

    &__info {
      margin-top: 1rem;
      font-style: italic;
      font-weight: 400;
      padding: 0 2rem;
    }
  }
}

