.ListItem {
  
  & a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    color:rgb(168, 167, 167);
    text-decoration: none;
    
    &.active,
    &:hover,
    &:active {
      color: #eee;
      background-color: rgb(71, 77, 83);;
    }
  }

  &__icon {
    padding-right: .8rem;
  }
}


