.ListItem {
  
  & a {
    display: flex;
    align-items: center;
    padding: 1rem;
    color:rgb(168, 167, 167);
    text-decoration: none;

    @media (max-width: 600px) {
      padding: .8rem;
    }
    
    &.active,
    &:hover,
    &:active {
      color: #eee;
      background-color: rgb(71, 77, 83);;
    }
  }
}


