.Books {
  height: calc(100vh - 65.38px);
  width: calc(100% - 137px);
  background-color: #fafafa;
  position: relative;
  display: inline-block;

  @media (max-width: 600px) {
    width: calc(100% - 50px);
  }
}