button {
  border: none;
  border-radius: .3rem;
  outline: none;
  cursor: pointer;
}

.Button {
  padding: .5rem .8rem;
  box-shadow:  2px 2px 5px 0px rgba( 0, 0, 0, 0.3 );
  
  &:hover {
    opacity: .9;
    box-shadow:  1px 1px 5px 0px rgba( 0, 0, 0, 0.3 );
  }
  
  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    color: #eee;
    margin-bottom: 5px;
  }

  &__forFree {
    background-color: rgb(24, 145, 226);
  }

  &__forSale {
    background-color: rgb(24, 145, 226);
  }

  &__notForSale a,
  &__notForSale {
    background-color: rgb(121, 121, 121);
    pointer-events: none;
    font-weight: 100;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
  }

  &__listPrice {
    color: rgb(192, 192, 192);
    font-size: .8rem;
    text-decoration: line-through; 
  }
}