.ActionPanel {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  // padding-top: 1rem;
  overflow: hidden;
  background-image: linear-gradient(
    rgba(8, 8, 8, 0.70) 10%,
    rgba(12, 12, 12, 0.60) 55%,
    rgba(14, 14, 14, 0));
  width: inherit;
  padding-bottom: .5rem;
  height: 3rem;
  
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem; 

  & > *  {
    padding: .7rem;
    display: flex;
    padding-top: .6rem;

    &:hover {
    cursor: pointer;
  }
  }

}