.SearchBox {
  height: 4.3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0px -8px 10px -4px rgb(214, 214, 214);
  
  &__input {
  outline: none;
  padding: .7rem;
  border: none;
  border-top-left-radius:  1.3rem;
  border-bottom-left-radius:  1.3rem;
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.1 );
  transition: padding .4s ease;
  }
  &__input:focus,
  &__input:focus + &__button {
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
  }

  &__button {
    outline: none;
    cursor: pointer;
    padding: .7rem;
    border: none;
    border-top-right-radius:  1.3rem;
    border-bottom-right-radius:  1.3rem;
    background-color: rgb(96, 22, 175);
    font-weight: bold;
    color: #eee;
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.1 );

    &:hover {
      opacity: .9;
    }
  }
}

