.BookModal {
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  overflow-y: scroll;

  @media only screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }

// ====== LEFT SIDE ======
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    padding-left: 1rem;

    position: relative;
    float: left;
    overflow: hidden;

    @media only screen and (max-width: 550px) {
          flex-direction: row;
          justify-content: space-evenly;
          width: calc(100% - 1rem);
          height: 15rem;
    }

    @media only screen and (min-width: 1100px) {
      width: 12rem;
    }

    &__image {
      width: 100%;
      height: auto;
      padding-bottom: .8rem;

      @media only screen and (max-width: 550px) {
        width: auto;
        height: 9rem;
      }
    }
  }
  
// ====== RIGHT SIDE ======
  &__content {
    padding:  0 1rem;
    width: calc(70% - 2.5rem);

    position: relative;
    float: right;

    &__info {
      padding: 1rem 0;
    }

    @media only screen and (max-width: 550px) {
      padding: 0 1rem 10rem 1rem;
      width: calc(100% - 2rem);
      height: calc(100% - 20rem);
    }

    @media only screen and (min-width: 1100px) {
      width: calc(100% - 16rem);
    }
  }

  & h4 {
    padding: .3rem 0;
    font-style: italic;
    color: rgb(90, 90, 90);
    font-weight: 500;
  }

}